In [1]:
import pandas as pd

data = pd.read_csv("Admission_Predict.csv", index_col=0)
data["Admitted"] = data["Chance of Admit"] >= 0.75
data = data.drop(["Chance of Admit"], axis=1)
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admitted
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,True
2,324,107,4,4.0,4.5,8.87,1,True
3,316,104,3,3.0,3.5,8.00,1,False
4,322,110,3,3.5,2.5,8.67,1,True
5,314,103,2,2.0,3.0,8.21,0,False
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,True
397,325,107,3,3.0,3.5,9.11,1,True
398,330,116,4,5.0,4.5,9.45,1,True
399,312,103,3,3.5,4.0,8.78,0,False
400,333,117,4,5.0,4.0,9.66,1,True

In [3]:
features = data.drop(["Admitted"], axis=1)
labels = data["Admitted"]

In [5]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt = dt.fit(features, labels)

In [6]:
dt.score(features, labels)

1.0

## Less overfitting model

In [7]:
dt_smaller = DecisionTreeClassifier(max_depth=3, min_samples_leaf=10, min_samples_split=10)
dt_smaller.fit(features, labels)
dt_smaller.score(features, labels)

0.885